.header {
  display: flex;
  border-bottom: 7px solid gray;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header img {
  width: 80px;
  height: 80px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.links a.active {
  color: lightblue;
  font-weight: bold;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

