body {
  background-color: black;
  color: #f9fafb;
}

h1{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 48px;
  margin: 0;
}

p{
  font-size: 16px;
  color: red;
  text-align: center;
}

img{
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
}

.header {
  background-color: black;
  border-bottom-color: red;
}

.links a {
  color: #f9fafb;
}

.links a.active {
  color: lightblue;
}

.task-title {
  color: white;
}

b{
  color: red;
  font-size: 24px;
}