h1{
  font-weight: bold;
  color: black;
  text-align: center;
}

p{
  font-size: 16px;
  color: red;
  text-align: center;
}



h1{
  font-size: 48px;
  text-align: center;
  margin: 0;
}

img{
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: black;
  color: #f9fafb;
}

body.dark-mode .header {
  background-color: black;
  border-bottom-color: red;
}

body.dark-mode .links a {
  color: #f9fafb;
}

body.dark-mode .links a.active {
  color: lightblue;
}

body.dark-mode .task-title {
  color: white;
}

b{
  color: red;
  font-size: 24px;
}